bzip2==1.0.8
ca-certificates==2022.9.24
libffi==3.4.2
libsqlite==3.40.0
libzlib==1.2.13
ncurses==6.3
openssl==3.0.7
pip==22.3.1
python==3.10.6
readline==8.1.2
setuptools==65.5.1
tk==8.6.12
tzdata==2022f
wheel==0.38.4
xz==5.2.6

yaml~=0.2.5
pyyaml~=6.0
jinja2~=3.1.2
pytest~=7.2.0