meta:
  device_name: {{ device_name }}
  author: {{ author }}
  date: {{ date }}

discrete_inputs:
- name: di_1

#- name: di_2

#- name: di_etc

coils:
- name: c_1

#- name: c_2

#- name: c_etc

input_registers:
- name: ir_1

#- name: ir_2

#- name: ir_etc

holding_registers:
- name: hr_1

#- name: hr_2

#- name: hr_etc
