/**
  ******************************************************************************
  * @file   {{ file_name }}
  * @author {{ author }}
  * @date   {{ date }}
  * @brief  DESCRIPTION
  ******************************************************************************
  * @attention
  *
  * Copyright (c) {{ year }} {{ author }}.
  * All rights reserved.
  *
  ******************************************************************************
  */