{% extends "base.c.jinja2" %}

{% block body %}

#include "config.h"
#include "{{ device_name_snake }}.h"

{% for table in tables %}
#include "data_model/{{ table }}.h"
{% endfor %}

#define N_TABLES {{ n_tables }}     /**< @brief Number of implemented data model tables    */

/**
 * @brief Any data needed to run {{ device_name }}
 */
static struct {{ device_name_snake }}_t
{
    device_t base;
    primary_table_t tables[4];
    /* Feel free to add below here: */

} self = {0};

Device
{{ device_name_snake }}_create(Peripherals hal, void * uart_inst, void * tim_inst)
{
    self.base.hal = hal;
    discrete_inputs_create(&self.tables[DI_TABLE], &self.base);
    coils_create(&self.tables[COIL_TABLE], &self.base);
    input_registers_create(&self.tables[IR_TABLE], &self.base);
    holding_registers_create(&self.tables[HR_TABLE], &self.base);
    self.base.model = datamodel_create(self.tables);
    app_init_t app_params = {
            .address = MODBUS_ADDRESS,
            .serial = hal->serial,
            .ser_inst = uart_inst,
            .timer = hal->timer,
            .tim_inst = tim_inst,
            .data_model = self.base.model
    };
    self.base.server = server_create(&app_params);
    return &self.base;
}

void
{{ device_name_snake }}_run(Device device)
{
    while(1) {
        server_update(device->server);
    }
}

{% endblock %}