{% extends "base.c.jinja2" %}
{% block body %}
    {% include "sections/include.jinja2" %}

    {% include "sections/macro.jinja2" %}

    {% include "sections/struct.jinja2" %}

    {% include "sections/function_prototypes.jinja2" %}

    {% include "sections/interface.jinja2" %}

    {% include "sections/function_definitions.jinja2" %}
{% endblock %}